#box1 {
    height: 200px;
    width: 200px;
    background-color: #C0EEE4;
    border: 10px solid black;
    padding: 20px;
}

#box2 {
    height: 200px;
    width: 200px;
    background-color: #F8F988;
    border: 20px solid black;
    margin-left: 260px;
}

#box3 {
    height: 200px;
    width: 200px;
    background-color: #FFCAC8;
    border: 20px solid black;
    margin-left: 500px;
}